*, ::before, ::after{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
font-family: Abril Fatface, sans-serif;
}


/* Header video */

header{
    width: 100%;
    height: 1000px;
    position: relative;
    background: red;
}

 video{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.txt-bubble p{
    position: absolute;
    top: 22%;
    left: 61%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}

            /* Menu section */

.container-menu{
    position: relative;
    width: 100%;
    height: 50vh;
    background: #000;
}

.menu {
    display: grid;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template: repeat(3, 110px) / 800px;
    background: #000;
}

.menuItem{
    justify-self: center;
    align-self: center;
}

.menuItem span{
    display: inline-block;
    text-transform: uppercase;
}

.item {
    font-size: 70px;
    color: #fff;
    letter-spacing: 1.1px;
}

.label{
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 65px;
    overflow: hidden;
    text-align: center;
    color: transparent;
    transition: all 0.3s ;
}

.menuItem:hover .label{
    color: #fff;
}

.label::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    background: #f1f1f1;
    transform: translateX(-100%);
    transition: transform 0.3s ;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    z-index: -1;
}

.menuItem:hover .label::before,
.menuItem:focus .label::before{
    transform: translateX(100%);
}


/* My Story Section */

.story{
    position: relative;
    width: 100%;
    height: auto;
}

h1{
    text-align: center;
    font-size: 7rem;

}

.container-story{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.profil-img{
    width: 600px;
    height: 600px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: moove 10s infinite linear;
}
    

.txt-story{
    max-width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-story p{
    font-size: 2rem;
    text-align: center;
    padding: 50px 40px;
    font-family: Bodoni Moda, "sans-serif";
}

/* Work section */

.work-container{
    width: 100%;
    height: auto;
    background: #000;
}

h2{
    text-align: center;
    font-size: 6rem;
    margin-bottom: 50px;
    color: #fff;
}
 h3{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
}

.description{
    font-family: Bodoni Moda, "sans-serif";
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: #fff;
}
.work p{
    font-size: 2rem;
    text-align: center;
    padding: 50px 40px;
    font-family: Bodoni Moda, "sans-serif";
    color: #fff;

}


            /* professional skill  */


    .skill-container{
        width: 100%;
        height: auto;
        background: #fff;
        display: flex;
    }

    h4{
        text-align: center;
        font-size: 6rem;
    }

    .galerie{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 5% auto;
      }

    .cards{
        width:500px;
        height:200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-shrink: 0;
        margin: 20px;
        box-shadow: 0px 5px 10px #000;
    }

    .cards:hover{
        transform: scale(1.1);
    }


    .cards img{
        width: 150px;
        height: 150px;

    }

    .cards p{
        font-size: 2.5rem;
        font-family: Bodoni Moda, "sans-serif";
    }

    





/* animation  */

@keyframes moove{
    0%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    25%{
        border-radius: 64% 36% 87% 13% / 23% 67% 33% 77%;

    }
    50%{
        border-radius:43% 57% 50% 50% / 58% 85% 15% 42%;

    }
    75%{
        border-radius: 84% 16% 61% 39% / 30% 20% 80% 70%;
    }
    100%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

    }
}