*, ::before, ::after{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
font-family: Abril Fatface, sans-serif;

}


/* Header video */

header{
    width: 100%;
    height: 1000px;
    position: relative;
    background: red;
}


 video{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.txt-bubble p{
    position: absolute;
    top: 20%;
    left: 59%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}

/* Menu */
.container-menu{
    position: relative;
    width: 100%;
    height: 50vh;
    background: #000;
}
.menu {
    display: grid;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template: repeat(3, 110px) / 800px;
    /* grid-gap: 20px; */
    background: #000;

}

.menuItem{
    justify-self: center;
    align-self: center;
    
}

.menuItem span{
    display: inline-block;
    text-transform: uppercase;

}

.item {
    font-size: 70px;
    color: #fff;
    letter-spacing: 1.1px;
}

.label{
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 65px;
    overflow: hidden;
    text-align: center;
    color: transparent;
    transition: all 0.3s ;
}

.menuItem:hover .label{
    color: #fff;
}

.label::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    background: #f1f1f1;
    transform: translateX(-100%);
    transition: transform 0.3s ;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    z-index: -1;
}

.menuItem:hover .label::before,
.menuItem:focus .label::before{
    transform: translateX(100%);
}

/* My Story Section */

.story{
    position: relative;
    width: 100%;
    height: auto;
}

h1{
    text-align: center;
    font-size: 7rem;
    margin: 10px 0;
}

.container-story{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
}

.profil-img{
    width: 600px;
    height: 600px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    
}

.txt-story{
    max-width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
}

.txt-story p{
    font-size: 2.5rem;
    text-align: center;
    margin: 50px 0;
    padding: 0 40px;
    font-family: Bodoni Moda, "sans-serif";
}


